<section id="map">
    <div class="map-container">
        <h2 data-translate="map-title">Map of Israel</h2>
        <div class="map-content">
            <div id="leafletMap" class="map-view"></div>
            <div class="map-legend">
                <h4 data-translate="map-legend-title">Legend</h4>
                <div class="legend-item">
                    <span class="legend-dot south"></span>
                    <span data-translate="map-legend-south">Southern Region</span>
                </div>
                <div class="legend-item">
                    <span class="legend-dot north"></span>
                    <span data-translate="map-legend-north">Northern Region</span>
                </div>
            </div>
            <div class="map-info">
                <h4 data-translate="map-info-title">Region Information</h4>
                <p data-translate="map-info-description">
                    Click on markers to see detailed information about each region.
                </p>
            </div>
        </div>
    </div>
</section>